.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {
  display: flex;
}

.main-menu ul {
  display: flex;
  list-style: none;
  margin-left: 10px;
}

.main-menu ul li {
  margin-left: 10px;
}
