.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto 40px;
}

.main-header img {
  max-width: 300px;
}

.main-menu {
  display: flex;
}

.main-menu input {
  padding: 10px 10px;
  color: #2c3e50;
  font-size: 16px;
  border: none;
  border-radius: 2px;
}

.main-menu ul {
  display: flex;
  list-style: none;
  margin-left: 10px;
  padding: 5px;
}

.main-menu ul li {
  margin-left: 20px;
  font-size: 24px;
}

.main-menu li a {
  text-decoration: none;
  color: #ecf0f1;
  transition: all ease 0.5s;
}

.main-menu li a:hover {
  color: #fff;
}

.poster-featured-info {
  margin-left: 5%;
  margin-top: 20vh;
}

.poster-featured-info h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.poster-featured-info .info {
  max-width: 500px;
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.poster-featured-info p {
  margin-right: 20px;
  font-size: 0.8em;
}

.poster-featured-info span {
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 2px 5px;
  font-size: 0.7em;
}

.poster-featured-info .actions button {
  margin-right: 20px;
  font-family: "Gilroy ExtraBold";
}
