@font-face {
  font-family: "Gilroy Light";
  src: url("./assets/fonts/Gilroy-Light.otf");
}

@font-face {
  font-family: "Gilroy ExtraBold";
  src: url("./assets/fonts/Gilroy-ExtraBold.otf");
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #2d3436;
  font-family: "Gilroy Light";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ecf0f1;
  width: 90%;
  margin: 0 auto;
}

input,
button {
  font-family: "Gilroy Light";
}

.btn {
  padding: 15px 30px;
  font-size: 1em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all ease 0.2s;
}

.btn-danger {
  background: #c0392b;
  color: #fff;
}

.btn-danger:hover {
  background: #e74c3c;
  color: #fff;
}

.btn-opacity {
  background: rgba(128, 142, 155, 0.7);
  color: #fff;
}

.btn-opacity:hover {
  background: rgba(128, 142, 155, 0.8);
  color: #fff;
}
